@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

:root{
   --main-color:#4834d4;
   --red:#e74c3c;
   --orange:#f39c12;
   --black:#34495e;
   --white:#fff;
   --light-bg:#f5f5f5;
   --light-color:#999;
   --border:.2rem solid var(--black);
   --border-light: .1rem solid var(--light-color);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.3);
}

/*********** BASE ***********/
*{
   font-family: 'Montserrat', sans-serif;
   margin:0;
   padding:0;
   box-sizing: border-box;
   text-decoration: none;
   outline: none;
   border:none;
}

*::selection{
   color:var(--white);
   background-color: var(--main-color);
}

::-webkit-scrollbar{
   width: 1rem;
   height: .5rem;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
   background-color: var(--light-bg);
   /* padding-bottom: 7rem; */
   padding-left: 35rem;
}

section{
   max-width: 1200px;
   margin:0 auto;
   padding:2rem;
}

/*********** GRID ***********/
.row {
   --cols: 12;
   display: grid;
   grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
   gap: 30px;
}

/*********** BUTTONS ***********/
.btn,
.delete-btn,
.option-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn{
   /*display: inline-block;*/
   margin-top: 1rem;
   border-radius: .5rem;
   cursor: pointer;
   font-size: 1.8rem;
   color:var(--white);
   padding:1rem 1.5rem;
   text-transform: capitalize;
   text-align: center;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn{
   display: inline-block;
   margin-right: 0.5rem;
}

.btn,
.delete-btn,
.option-btn{
   display: block;
   width: 100%;
}

.inline-btn,
.btn{
   background-color: var(--main-color);
}

.inline-delete-btn,
.delete-btn{
   background-color: var(--red);
}

.inline-option-btn,
.option-btn{
   background-color: var(--orange);
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover,
.inline-btn:hover,
.inline-delete-btn:hover,
.inline-option-btn:hover{
   background-color: var(--black);
}

.flex-btn{
   display: flex;
   gap:1rem;
}

/*********** MESSAGE D'INFOS ***********/
.message{
   position: sticky;
   top:0;
   margin:0 auto;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-bottom:var(--border-light);
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 10000;
}

.message span{
   font-size: 2rem;
   color:var(--black);
}

.message i{
   font-size: 2.5rem;
   color:var(--red);
   cursor: pointer;
   transition: all 0.2s linear;
}

.message i:hover{
   transform: rotate(90deg);
   color:var(--black);
}

.empty{
   border:var(--border);
   border-radius: .5rem;
   background-color: var(--white);
   padding:1.5rem;
   text-align: center;
   width: 100%;
   font-size: 2rem;
   text-transform: capitalize;
   color:var(--red);
   box-shadow: var(--box-shadow);
}

/*********** HEADING ***********/
.heading{
   text-align: center;
   margin-bottom: 2rem;
   text-transform: capitalize;
   color:var(--black);
   font-size: 3rem;
}

/*********** FORMULAIRES ***********/
.form-container{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
}

.form-container form{
   background-color: var(--white);
   border-radius: .5rem;
   border:var(--border);
   box-shadow: var(--box-shadow);
   padding:2rem;
   text-align: center;
   width: 50rem;
}

.form-container form h3{
   font-size: 2.5rem;
   color:var(--black);
   text-transform: uppercase;
   padding-bottom: 1rem;
}

.form-container form p{
   padding-bottom: 1rem;
   padding-top: 0.5rem;
   font-size: 1.8rem;
   color:var(--light-color);
}

.form-container form p span{
   color:var(--main-color);
}

.form-container form .box{
   width: 100%;
   background-color: var(--light-bg);
   padding:1.4rem;
   font-size: 1.4rem;
   color:var(--black);
   margin:1rem 0;
   border:var(--border-light);
   font-size: 1.8rem;
   border-radius: .5rem;
}

/****************** ADMIN HEADER *********************/
.header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;
   background-color: var(--white);
   border-right: var(--border);
   padding: 2rem;
   height: 100vh;
   width: 35rem;
}
.header .logo {
   font-size: 2.5rem;
   color: var(--black);
   text-align: center;
   display: block;
}
.header .logo span {
   color: var(--main-color);
}
.header .profile {
   background-color: var(--light-bg);
   border: var(--border);
   border-radius: 0.5rem;
   padding: 1.5rem;
   text-align: center;
   margin: 2rem 0;
}
.header .profile p {
   font-size: 2rem;
   color: var(--light-color);
   margin-bottom: 0.5rem;
}
.header .navbar a {
   display: block;
   font-size: 2rem;
   padding: 1rem 0;
   margin-bottom: 2rem;
}
.header .navbar a span {
   color: var(--light-color);
}
.header .navbar a i {
   margin-right: 1.5rem;
   color: var(--main-color);
   transition: all 0.3s linear;
}
.header .navbar a:hover i {
   margin-right: 2.5rem;
}

#menu-btn {
   font-size: 2rem;
   position: sticky;
   z-index: 1100;
   left: 1rem;
   top: 1rem;
   background-color: var(--white);
   border: var(--border);
   border-radius: 0.5rem;
   height: 4.5rem;
   width: 5rem;
   line-height: 4.2rem;
   text-align: center;
   color: var(--black);
   cursor: pointer;
   transition: all 0.2s linear;
   display: none;
}
#menu-btn:hover {
   background-color: var(--black);
   color: var(--white);
}

/****************** ADMIN DASHBOARD *********************/
.dashboard .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 1.5rem;
   justify-content: center;
   align-items: flex-start;
}
.dashboard .box-container .box {
   background-color: var(--white);
   border: var(--border);
   box-shadow: var(--box-shadow);
   border-radius: 0.5rem;
   padding: 1.5rem;
   text-align: center;
}
.dashboard .box-container .box h3 {
   font-size: 2rem;
   color: var(--black);
   padding-bottom: 1rem;
}
.dashboard .box-container .box p {
   padding: 1.5rem 1rem;
   background-color: var(--light-bg);
   border: var(--border-light);
   border-radius: 0.5rem;
   color: var(--light-color);
   margin: 0.5rem 0;
   font-size: 1.8rem;
}




/* media queries  */

@media (max-width:1200px){

}

@media (max-width:991px){
   html {
      font-size: 55%;
   }
   body {
      padding-left: 0;
   }
   #menu-btn {
      display: inline-block;
   }
   .header {
      left: -35rem;
      transition: all 0.3s linear;
   }
   .header.active {
      left: 0;
      box-shadow: 0 0 0 100vw rgba(0,0,0,0.7);
   }
}

@media (max-width:768px){


}

@media (max-width:450px){
   html {
      font-size: 50%;
   }
  .flex-btn {
     flex-direction: column;
     gap: 0;
  }
   .form-container form p{
      font-size: 1.6rem;
   }

}